@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@1,300&display=swap');

body {
    background-color: rgb(36, 31, 31);
}

#tit {
    color: aliceblue;
    font-family: 'Bebas Neue', sans-serif;
   
}

label {
    color: aliceblue; 
}

.BB {
    font-size: 70px;
    color: rgb(212, 32, 32);
    text-align: center;
    padding: 50px;
    font-family: 'Bebas Neue', sans-serif;
}
.Bor {
    border-radius: 8px;
    border: solid 3px rgb(212, 32, 32);
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    padding: 10px;
}
#txtClassificacao{
    color: black    ;
}